<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <!---->
    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link href="{% static 'css/product.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
    {% if work_samples_page%}
    <link href="{% static 'css/work_samples.css' %}" rel="stylesheet">
    {% endif %}

    {% if certificates_page %}
    <link href="{% static 'css/certificates.css' %}" rel="stylesheet">
    {% endif %}

    {% if testimonials_page%}
    <link href="{% static 'css/testimonials.css' %}" rel="stylesheet">
    {% endif %}

    {% if biography_page%}
    <link href="{% static 'css/biography.css' %}" rel="stylesheet">
    {% endif %}

    {% if hundred_days_page%}
    <link href="{% static 'css/hundred_days.css' %}" rel="stylesheet">
    {% endif %}


  </head>
  {% if testimonials_page%}
    <body style = 'background-color: #e9ecef;'>
  {% else %}
  <body>
  {% endif %}

    <header>




    <!--header -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark mt-0">
        <a class="navbar-brand" href="{% url 'jobs_home' %}">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>





            <div class="collapse navbar-collapse mt-0" id="navbarCollapse" style="height: 30px;">
              <ul class="navbar-nav ml-auto">




                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Python</a>
                  <div class="dropdown-menu bg-dark">


                    <a class="nav-link" href="{% url 'work_samples_int' 1%}">Project Samples</a>




                    <a class="nav-link bg-dark" href="{% url 'certifications_homepage'%}">Certifications</a>
                    <a class="nav-link bg-dark" href="{% url 'hundred_days_home'%}">100DaysOfCode</a>
                    <a class="nav-link" href="https://stackoverflow.com/users/8564711/emmanuel-codev">Timeline</a>





                </li>


                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About me </a>
                  <div class="dropdown-menu bg-dark">


                    <a class="nav-link dropdown-item bg-dark" href="{%  url 'testimonials_home'%}">Testimonials</a>

                    <a class="nav-link bg-dark" href="{% url 'biography_home'%}">Biography</a>


                </li>













          </ul>
        </div>
      </nav>
    </header>

    {% block content %}

    {% endblock %}



    <footer class="text-muted" style="margin-top: 20px;">

      <div class="container text-center extra_container">
        <p style="font-size:18px; margin-left:25px;">© Emmanuel Codev {% now "Y" %}</p>

        <ul>


        <li  style = "display: inline;">
          <a style="display:inline-block; padding:3px;" class="" href="https://stackoverflow.com/users/8564711/emmanuel-codev"><img src="{%static 'images/stackoverflow2.png' %}" style="height:40px; margin-right: 0px;" alt=""></a>
        </li>
          <li style = "display: inline;">
            <a class="" style="display:inline-block;padding:3px;" href="https://github.com/emmanuelcodev"><img src="{%static 'images/github_dark.png'%}" style="height:40px;" alt=""></a>
          </li>
          <li style = "display: inline;">
            <a style="display:inline-block; padding:3px;" class="" href="http://twitter.com/CodevEmmanuel"><img src="{%static 'images/twitter_solo.png'%}" style="height:40px;" alt=""></a>
          </li>

          <li style = "display: inline;">
            <a style="display:inline-block; padding:3px;" class="" href="https://www.linkedin.com/in/emmanuel-cocom-8834a1117/"><img src="{%static 'images/linkedin.png'%}" style="height:40px;" alt=""></a>
          </li>






      </ul>
      </div>



    </footer>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


  </body>


</html>
