{% extends 'base.html'%}
{% load staticfiles %}


{% block content%}
<div class="">
<br />
<br />
<br />
</div>


<div class="container">
  <div class="row">

    <div class="col-1 temp_content">
    </div>

    <div class="col-2 temp_content">

      <p>Sort By :</p>
      <select>
        <option value="volvo">Date</option>
        <option value="saab">Topic</option>
        <option value="opel">Source</option>
      </select>
    </div>

    <div class="col-8 row" id="small_cases">

      <div class="temp_hidden">
        <p style="">Sort By :  </p>
          <select>
            <option value="volvo">Date</option>
            <option value="saab">Topic</option>
            <option value="opel">Source</option>
          </select>

        <br />
      </div>




    {% for x in certificates_generator %}

      <div class="card-deck">

        {% for certificate in x %}

        <div class="card" style="min-width:340px;">
          <div class="card-header">
            {{certificate.title}}
        </div>
          <img class="card-img-top" src="{{certificate.image.url}}" alt="{{certificate.image_alt}}">
          <div class="card-body">
            <!--<h5 class="card-title">Card title</h5>-->
            <p class="card-text">{{certificate.Summary}}</p>
            <p class="card-text"><small class="text-muted">Topics: {{certificate.category1}}, {{certificate.category2}}, {{certificate.category3}}</small></p>
          </div>
        </div>

        <br/>
        {% endfor %}




      </div>
    {% endfor %}

      <br />


      <div class = 'certificate_navigation'>
      <p id  = 'nav_num'>
        {% if previous_page %}
        <a class="prev_next_pages" href="{{previous_page}}">&#x21E6; Previous</a>
        {%else%}
        &#x21E6; Previous
        {% endif%}


        <a class = 'page_number' href="{{current_page}}">{{current_page}}</a>
        <a class = 'page_number' href="{{page2}}">{{page2}}</a>
        <a class = 'page_number' href="{{page3}}">{{page3}}</a>

        ...
        <a class = 'page_number' href="{{last_page}}">{{last_page}}</a>

        <a class = 'page_number' href="{{page2}}">Next &#x21E8;</a> </p>
      </div>


    </div>



  </div>

</div>




  <script type="text/javascript">


   function device_changing(){

     if (window.innerWidth<= 800) {
       document.getElementById("small_cases").classList.remove('col-8');
       document.getElementById("small_cases").classList.add('col-12');


     // download complicated script
     // swap in full-source images for low-source ones
   }else {
     document.getElementById("small_cases").classList.remove('col-12');
     document.getElementById("small_cases").classList.add('col-8');
   }


   }

   window.addEventListener("resize", device_changing);


device_changing()



 </script>


{% endblock %}
